body {
  font-family: sans-serif;
}

#app {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
}

input[type='text']:focus {
  border-bottom: 2px solid #ccc !important;
}

.input-error {
  border-bottom: 2px solid #ec1414 !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 25px 0 0 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.todo-item span {
  flex-grow: 1;
  margin-right: 10px;
  color: #525252;
}

.delete {
  text-decoration: line-through;
  color: #999 !important;
}

.done {
  text-decoration: underline;
  color: #198754 !important;
}

.todo-item .btn-delete {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 8px;
}

.todo-item .btn-done {
  background-color: #198754;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 8px;
}

.add-task {
  display: flex;
}

.add-task button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}
